.cards.collapsed .card {
  height: 3rem;
}
.cards .card {
  height: 8rem;
  transition:
    order 2s ease-in-out,
    height 0.3s ease-in-out;
  z-index: 1;
}

.cards .card.active {
  height: 8rem;
  order: -1;
}

.placeholder {
  height: calc(100vh - 8rem - 9rem - 6rem);
  background-color: purple;
  z-index: -1;
  word-break: break-all;
  width: 20rem;
}
