*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  background-color: #020e1b;
  display: flex;
  flex-direction: column;
  max-width: 43rem;
  width: 100%;
  height: 100dhw;
  align-items: center;
  justify-content: center;
  color: #ffffffb3;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.code {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
}

.card {
  background-color: #131e2bcc;
  color: #fffffff2;
  padding-inline: 2.25rem;
  padding-block: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d2d4d640;
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.action-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

a:not(.button) {
  color: #3cbc92;
}

.button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  background-color: #52ffc6;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  color: #000;
  text-decoration: none;

  &.outline {
    background-color: transparent;
    color: #fff;
    box-shadow: 0 0 0 1px #d2d4d640 inset;
  }
}
