*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #081320;
}

.hash-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-family: monospace;
}

.card .card__content-bottom *,
.card .card__content-center * {
  color: black;
}

.card .card__content-center div:first-child {
  font-size: x-large;
}
