*,
*::before,
*::after {
  box-sizing: border-box;
}

.card .card__content-center svg {
  display: none;
}

.card .card__content-bottom *,
.card .card__content-center * {
  color: black;
}

.card .card__content-center div:first-child {
  font-size: x-large;
}
